<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>ShowItalic</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekkablue.ShowItalic</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowItalic</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mekkablue/ShowItalic/master/ShowItalic.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mekkablue/ShowItalic</string>
	<key>productReleaseNotes</key>
	<string>Prevent 'NoneType has no parent' crash.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Rainer Erich Scheichelbauer, 2016</string>
	<key>NSPrincipalClass</key>
	<string>ShowItalic</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
